*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

:root{
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --black-800: #171717;

    --white: #F9F9F9;
}

html{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

body{
    background-color: var(--gray-200);
    color: var(--black-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
a{
    cursor: pointer;
}

.botao{
    text-align: center;
    padding: 12px 32px;
    background: none;
    border: 1px solid var(--purple-800);
    border-radius: 10px;
    font-weight: 700;
}

.botao:hover{
    background-color: var(--purple-800);
    color: var(--white);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização - Seção Header */

.menu_container{
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--purple-800);
    border-bottom:  1px solid var(--purple-500);
    filter: opacity(0.9)
}

.menu_container a{
    color: var(--white);
    font-weight: 700;

}

.menu_container a:hover{
    color: var(--purple-200)
}

.menu_content{
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_list{
    list-style: none;
    text-align: center;
}

.menu_list li{
    margin-left: 1rem;
}

/* Estilização da Seção Home */

.home_container{
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
}

.home_container p,
h1,
h4{
    text-align: center;
    font-size: 1rem;
}

.home_container h1{
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
}

.home_container h4{
    font-weight: 700;
}

.home_container p{
    margin: 1rem 0;
}

.home_container .botao{
    width: 50%;
}

.home_content{
    width: 50vw;
    flex-direction: column;
}

.home_content img{
    margin: 0 auto;
    width: 75%;
}

/* Estilização Seção about */


.about_container{
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: 100vh;
}

.about_container p,
h1{
    text-align: center;
    font-size: 1rem;
}

.about_container h1{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}

.about_container p{
    margin: 1rem 0;
}

.about_content{
    width: 50vw;
    flex-direction: column;
}

.about_img{
    display: flex;
    margin-right: 16px;
    width: 40%;
    border: 5px solid var(--purple-800);
    border-radius: 50%;
}

.about_github{
    width: 50vw;
    align-items: center;
    justify-content: space-evenly;
}


/* estilização footer */


.footer_container{
    height: 89px;
    width: 100%;
    background-color: var(--purple-800);
    border-bottom:  1px solid var(--purple-500);
    filter: opacity(0.9);
    color: var(--white);
    font-size: 1rem;
}

/* estilização sucess */

.sucess_container{
    flex-direction: column;
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 189px);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sucess_container h1{
    font-size: 2rem;
    font-weight: 700;
}

.sucess_container h4{
    font-size: 1rem;
}

.sucess_container .botao{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

